DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
NODE_ENV="development"
PORT=3000

# Auth (added when building auth module)
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"